body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:232px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
}
#u2959 {
  position:absolute;
  left:30px;
  top:28px;
  width:240px;
  height:32px;
  color:#FFFFFF;
  text-align:center;
}
#u2960 {
  position:absolute;
  left:0px;
  top:8px;
  width:240px;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2961 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2962 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u2963 {
  position:absolute;
  left:745px;
  top:2px;
  width:54px;
  height:51px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:263px;
}
#u2965 {
  position:absolute;
  left:209px;
  top:113px;
  width:343px;
  height:263px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:124px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
