body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:421px;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:420px;
}
#u409 {
  position:absolute;
  left:2px;
  top:202px;
  width:706px;
  word-wrap:break-word;
}
