body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  opacity:0.5;
}
#u868 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:450px;
  top:55px;
  width:454px;
  height:245px;
}
#u870 {
  position:absolute;
  left:2px;
  top:114px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:39px;
  background:inherit;
  background-color:rgba(45, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u872 {
  position:absolute;
  left:450px;
  top:54px;
  width:454px;
  height:39px;
  color:#FFFFFF;
  text-align:left;
}
#u873 {
  position:absolute;
  left:2px;
  top:12px;
  width:450px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:865px;
  top:54px;
  width:39px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u875 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u876 {
  position:absolute;
  left:514px;
  top:110px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u878 {
  position:absolute;
  left:589px;
  top:107px;
  width:178px;
  height:21px;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u879 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u880 {
  position:absolute;
  left:520px;
  top:144px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u882 {
  position:absolute;
  left:588px;
  top:139px;
  width:179px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u883 {
  position:absolute;
  left:8px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u884 {
  position:absolute;
  left:747px;
  top:112px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u885 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u886 {
  position:absolute;
  left:520px;
  top:177px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u889 {
  position:absolute;
  left:587px;
  top:170px;
  width:180px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u890 {
  position:absolute;
  left:12px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u891 {
  position:absolute;
  left:742px;
  top:175px;
  width:15px;
  height:15px;
}
#u892 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u893 {
  position:absolute;
  left:520px;
  top:208px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u896 {
  position:absolute;
  left:587px;
  top:201px;
  width:180px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u897 {
  position:absolute;
  left:12px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u898 {
  position:absolute;
  left:742px;
  top:206px;
  width:15px;
  height:15px;
}
#u899 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u900 {
  position:absolute;
  left:599px;
  top:266px;
  width:60px;
  height:28px;
  font-size:12px;
}
#u901 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:678px;
  top:266px;
  width:60px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u903 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u904 {
  position:absolute;
  left:520px;
  top:238px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u906 {
  position:absolute;
  left:587px;
  top:235px;
  width:178px;
  height:21px;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u907 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
