body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
}
#u3131 {
  position:absolute;
  left:2px;
  top:232px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
}
#u3132 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:480px;
}
#u3133 {
  position:absolute;
  left:2px;
  top:232px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
