body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:419px;
}
#u995 {
  position:absolute;
  left:30px;
  top:511px;
  width:781px;
  height:419px;
}
#u996 {
  position:absolute;
  left:2px;
  top:202px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
