body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  opacity:0.5;
}
#u610 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  position:absolute;
  left:450px;
  top:55px;
  width:454px;
  height:245px;
}
#u612 {
  position:absolute;
  left:2px;
  top:114px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:39px;
  background:inherit;
  background-color:rgba(45, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u614 {
  position:absolute;
  left:450px;
  top:54px;
  width:454px;
  height:39px;
  color:#FFFFFF;
  text-align:left;
}
#u615 {
  position:absolute;
  left:2px;
  top:12px;
  width:450px;
  word-wrap:break-word;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u616 {
  position:absolute;
  left:865px;
  top:54px;
  width:39px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u617 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u618 {
  position:absolute;
  left:514px;
  top:110px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u619 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u620 {
  position:absolute;
  left:587px;
  top:107px;
  width:178px;
  height:21px;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u621 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u622 {
  position:absolute;
  left:599px;
  top:266px;
  width:60px;
  height:28px;
  font-size:12px;
}
#u623 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u624 {
  position:absolute;
  left:678px;
  top:266px;
  width:60px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u626 {
  position:absolute;
  left:520px;
  top:144px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u628 {
  position:absolute;
  left:588px;
  top:139px;
  width:179px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u629 {
  position:absolute;
  left:8px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u630 {
  position:absolute;
  left:520px;
  top:177px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u633 {
  position:absolute;
  left:587px;
  top:170px;
  width:180px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u634 {
  position:absolute;
  left:12px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u635 {
  position:absolute;
  left:742px;
  top:175px;
  width:15px;
  height:15px;
}
#u636 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u637 {
  position:absolute;
  left:520px;
  top:208px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u640 {
  position:absolute;
  left:587px;
  top:201px;
  width:180px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:left;
}
#u641 {
  position:absolute;
  left:12px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u642 {
  position:absolute;
  left:742px;
  top:206px;
  width:15px;
  height:15px;
}
#u643 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u644 {
  position:absolute;
  left:520px;
  top:238px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u646 {
  position:absolute;
  left:587px;
  top:235px;
  width:178px;
  height:21px;
  font-size:10px;
  color:#CCCCCC;
  text-align:left;
}
#u647 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  word-wrap:break-word;
}
